{{!-- {{#each countries}} --}}
<div class='country__blok'>
  <img src='{{flags.svg}}' alt='flag of country' width='60' />
  <span class='country__title'>{{name.official}}</span>
</div>
<ul>

  <li class='country__name'>Capital:
    <span class='country__property'>{{capital}} </span></li>

  <li class='country__name'>Population:
    <span class='country__property'>{{population}}</span>
  </li>

  <li class='country__name'>Languages:
    <span class='country__property'>{{languages}}</span>
  </li>

</ul>